.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.903320;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:36.480000px;}
.fs2{font-size:43.680000px;}
.fs1{font-size:50.880000px;}
.y2{bottom:2.911900px;}
.y7{bottom:3.361800px;}
.y9{bottom:3.361900px;}
.y5{bottom:3.811800px;}
.y0{bottom:40.500000px;}
.y30{bottom:41.289800px;}
.y2f{bottom:55.840700px;}
.y2e{bottom:83.619800px;}
.y2d{bottom:111.398800px;}
.y2c{bottom:125.288400px;}
.y2b{bottom:139.177900px;}
.y2a{bottom:153.067400px;}
.y29{bottom:171.586800px;}
.y28{bottom:185.476300px;}
.y27{bottom:199.365800px;}
.y26{bottom:215.901000px;}
.y25{bottom:239.711600px;}
.y24{bottom:257.569600px;}
.y23{bottom:276.088900px;}
.y22{bottom:295.269700px;}
.y21{bottom:309.159200px;}
.y20{bottom:327.017200px;}
.y1f{bottom:354.796200px;}
.y1e{bottom:373.977000px;}
.y1d{bottom:387.866600px;}
.y1c{bottom:415.645600px;}
.y1b{bottom:429.535100px;}
.y1a{bottom:443.424700px;}
.y19{bottom:457.314200px;}
.y18{bottom:471.203700px;}
.y17{bottom:485.093200px;}
.y16{bottom:504.935400px;}
.y15{bottom:518.825000px;}
.y14{bottom:532.714500px;}
.y13{bottom:546.604000px;}
.y12{bottom:567.107600px;}
.y11{bottom:580.997100px;}
.y10{bottom:594.886700px;}
.yf{bottom:608.776200px;}
.ye{bottom:627.295500px;}
.yd{bottom:641.185100px;}
.yc{bottom:655.074600px;}
.yb{bottom:672.932500px;}
.ya{bottom:688.806300px;}
.y8{bottom:703.357200px;}
.y6{bottom:719.231000px;}
.y4{bottom:733.120500px;}
.y3{bottom:750.317000px;}
.y1{bottom:759.576700px;}
.h4{height:8.759700px;}
.h2{height:10.743900px;}
.he{height:12.066700px;}
.h10{height:12.728200px;}
.h7{height:13.389500px;}
.hd{height:13.389600px;}
.hb{height:14.050900px;}
.h9{height:15.373800px;}
.h13{height:16.035100px;}
.h14{height:16.035200px;}
.h5{height:16.696500px;}
.hc{height:17.357900px;}
.h12{height:17.358000px;}
.h11{height:18.019300px;}
.h3{height:26.184375px;}
.hf{height:29.688750px;}
.h15{height:29.859375px;}
.h8{height:31.352344px;}
.ha{height:31.714922px;}
.h6{height:36.942656px;}
.h1{height:731.000000px;}
.h0{height:805.850600px;}
.w6{width:53.359100px;}
.w3{width:55.513400px;}
.w7{width:59.822200px;}
.w5{width:61.976500px;}
.w8{width:80.647700px;}
.w2{width:109.372500px;}
.wc{width:113.681200px;}
.wd{width:113.681300px;}
.wa{width:134.506700px;}
.wb{width:167.540300px;}
.w9{width:169.694700px;}
.wf{width:176.157800px;}
.we{width:194.828900px;}
.w10{width:232.171200px;}
.w11{width:248.688000px;}
.w4{width:535.218300px;}
.w1{width:537.500000px;}
.w0{width:586.118300px;}
.x13{left:-8.216300px;}
.x16{left:-5.704100px;}
.x14{left:-1.753200px;}
.x2{left:1.707500px;}
.x1d{left:4.346500px;}
.xe{left:13.538400px;}
.xd{left:15.692700px;}
.x1c{left:20.167100px;}
.x1e{left:21.982700px;}
.x0{left:23.500000px;}
.x1{left:24.730000px;}
.xf{left:26.256100px;}
.x19{left:27.837300px;}
.x11{left:31.287000px;}
.x18{left:34.678100px;}
.x9{left:43.209500px;}
.x1a{left:62.090200px;}
.x17{left:69.760000px;}
.x1b{left:74.657400px;}
.xc{left:80.743400px;}
.x15{left:86.910500px;}
.x10{left:134.602500px;}
.x4{left:194.924700px;}
.x3{left:201.860200px;}
.x12{left:207.663800px;}
.xa{left:211.273600px;}
.x5{left:257.401200px;}
.xb{left:311.260300px;}
.x6{left:365.119400px;}
.x8{left:425.441600px;}
.x7{left:479.300600px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:48.640000pt;}
.fs2{font-size:58.240000pt;}
.fs1{font-size:67.840000pt;}
.y2{bottom:3.882533pt;}
.y7{bottom:4.482400pt;}
.y9{bottom:4.482533pt;}
.y5{bottom:5.082400pt;}
.y0{bottom:54.000000pt;}
.y30{bottom:55.053067pt;}
.y2f{bottom:74.454267pt;}
.y2e{bottom:111.493067pt;}
.y2d{bottom:148.531733pt;}
.y2c{bottom:167.051200pt;}
.y2b{bottom:185.570533pt;}
.y2a{bottom:204.089867pt;}
.y29{bottom:228.782400pt;}
.y28{bottom:247.301733pt;}
.y27{bottom:265.821067pt;}
.y26{bottom:287.868000pt;}
.y25{bottom:319.615467pt;}
.y24{bottom:343.426133pt;}
.y23{bottom:368.118533pt;}
.y22{bottom:393.692933pt;}
.y21{bottom:412.212267pt;}
.y20{bottom:436.022933pt;}
.y1f{bottom:473.061600pt;}
.y1e{bottom:498.636000pt;}
.y1d{bottom:517.155467pt;}
.y1c{bottom:554.194133pt;}
.y1b{bottom:572.713467pt;}
.y1a{bottom:591.232933pt;}
.y19{bottom:609.752267pt;}
.y18{bottom:628.271600pt;}
.y17{bottom:646.790933pt;}
.y16{bottom:673.247200pt;}
.y15{bottom:691.766667pt;}
.y14{bottom:710.286000pt;}
.y13{bottom:728.805333pt;}
.y12{bottom:756.143467pt;}
.y11{bottom:774.662800pt;}
.y10{bottom:793.182267pt;}
.yf{bottom:811.701600pt;}
.ye{bottom:836.394000pt;}
.yd{bottom:854.913467pt;}
.yc{bottom:873.432800pt;}
.yb{bottom:897.243333pt;}
.ya{bottom:918.408400pt;}
.y8{bottom:937.809600pt;}
.y6{bottom:958.974667pt;}
.y4{bottom:977.494000pt;}
.y3{bottom:1000.422667pt;}
.y1{bottom:1012.768933pt;}
.h4{height:11.679600pt;}
.h2{height:14.325200pt;}
.he{height:16.088933pt;}
.h10{height:16.970933pt;}
.h7{height:17.852667pt;}
.hd{height:17.852800pt;}
.hb{height:18.734533pt;}
.h9{height:20.498400pt;}
.h13{height:21.380133pt;}
.h14{height:21.380267pt;}
.h5{height:22.262000pt;}
.hc{height:23.143867pt;}
.h12{height:23.144000pt;}
.h11{height:24.025733pt;}
.h3{height:34.912500pt;}
.hf{height:39.585000pt;}
.h15{height:39.812500pt;}
.h8{height:41.803125pt;}
.ha{height:42.286562pt;}
.h6{height:49.256875pt;}
.h1{height:974.666667pt;}
.h0{height:1074.467467pt;}
.w6{width:71.145467pt;}
.w3{width:74.017867pt;}
.w7{width:79.762933pt;}
.w5{width:82.635333pt;}
.w8{width:107.530267pt;}
.w2{width:145.830000pt;}
.wc{width:151.574933pt;}
.wd{width:151.575067pt;}
.wa{width:179.342267pt;}
.wb{width:223.387067pt;}
.w9{width:226.259600pt;}
.wf{width:234.877067pt;}
.we{width:259.771867pt;}
.w10{width:309.561600pt;}
.w11{width:331.584000pt;}
.w4{width:713.624400pt;}
.w1{width:716.666667pt;}
.w0{width:781.491067pt;}
.x13{left:-10.955067pt;}
.x16{left:-7.605467pt;}
.x14{left:-2.337600pt;}
.x2{left:2.276667pt;}
.x1d{left:5.795333pt;}
.xe{left:18.051200pt;}
.xd{left:20.923600pt;}
.x1c{left:26.889467pt;}
.x1e{left:29.310267pt;}
.x0{left:31.333333pt;}
.x1{left:32.973333pt;}
.xf{left:35.008133pt;}
.x19{left:37.116400pt;}
.x11{left:41.716000pt;}
.x18{left:46.237467pt;}
.x9{left:57.612667pt;}
.x1a{left:82.786933pt;}
.x17{left:93.013333pt;}
.x1b{left:99.543200pt;}
.xc{left:107.657867pt;}
.x15{left:115.880667pt;}
.x10{left:179.470000pt;}
.x4{left:259.899600pt;}
.x3{left:269.146933pt;}
.x12{left:276.885067pt;}
.xa{left:281.698133pt;}
.x5{left:343.201600pt;}
.xb{left:415.013733pt;}
.x6{left:486.825867pt;}
.x8{left:567.255467pt;}
.x7{left:639.067467pt;}
}
