.landscape {
    width: 29.7cm;
    height: 21cm;
    display: block;
    box-shadow: 0 0 0.4cm rgba(0, 0, 50, 0.2);
    padding: 3rem;
}

.portrait-pds {
    width: 21cm;
    height: 29.7cm;
    display: block;
    box-shadow: 0 0 0.4cm rgba(0, 0, 50, 0.2);
    padding: 2.5rem 1rem;
}

.portrait {
    width: 21cm;
    height: 29.7cm;
    display: block;
    box-shadow: 0 0 0.4cm rgba(0, 0, 50, 0.2);
    padding: 3rem;
}

.bold {
    font-weight: bold;
}

.underlined {
    text-decoration: underline;
}

.borderd,
.bordered {
    border: 1px solid gray !important;
}

.flex-col {
    flex-direction: column;
}

.docs tr,
.docs td,
.docs th {
    border: 1px solid gray !important;
}

.docs * {
    font-family: Arial, Helvetica, sans-serif;
}