.service-record * {
    color: black !important;
    font-size: .83rem;
}

.service-record-table th,
.service-record-table td *,
.service-record-table table *,
.service-record-table tr * {
    border: none !important;
}